header {
  text-align: center;
}
/*
nav.main {
  float: right;
  font-size: 14px;
  font-weight: 700;
  margin-right: 10px;
  margin-top: 25px;
  a:link {
    color: darken($primary, 20);
    margin: 0 5px;
    padding: 1px 6px 2px;
    text-decoration: none;
    &.highlight {
      background: $action;
      border-radius: 2px;
      color: $light;
      font-size: 16px;
    }
  }
  a:hover {
    color: $secondary;
    &.highlight {
      background: darken($action, 5);
    }
  }
}*/