{% include header.html %}

<header>
  <h1 style="position: absolute; top: 50px; right: 50px;">Andrew Wolfe</h1>
  <img src="/img/me.png" style="position: fixed; bottom: 0; right: 50px; width: 300px; margin: 0 auto;" />
  <section class="container">
    <div class="row">
        <section class="bio">
          <p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rhoncus ligula eget lectus mollis mattis. In feugiat, odio sed vestibulum aliquet, neque lacus sollicitudin quam, sed porta tellus ante in dui. Maecenas lobortis posuere dui, at tempus est sodales eget. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc porttitor, sem in aliquet pulvinar, justo mi elementum eros, ac blandit mi neque in dui. Donec tempus velit quam, non condimentum tortor vestibulum eget. Donec scelerisque ultrices nisl et dapibus.</p>
          <p>Nulla id sapien eu lacus hendrerit elementum. Ut id hendrerit libero, in tincidunt nisl. Vestibulum non enim in urna fermentum mattis nec varius metus. Sed leo lorem, porttitor in felis quis, sagittis venenatis felis. Aliquam congue consequat metus, lobortis tempor odio auctor id. Cras quis cursus nibh. Mauris mauris erat, hendrerit scelerisque dignissim sit amet, consectetur a lacus. Duis ut sollicitudin nisl. Ut volutpat enim vitae odio gravida, egestas porta elit pellentesque. Maecenas vel purus ac mi vulputate congue. Suspendisse vulputate semper diam, a egestas augue semper sed. Sed elementum non mi a feugiat. Quisque rutrum accumsan nisi, non blandit massa ullamcorper et. Phasellus rutrum arcu a nunc dapibus, et mattis sapien facilisis.</p>
          <p>Proin vitae facilisis purus. Suspendisse gravida ultricies sodales. Duis quis erat ultrices, gravida lectus quis, molestie augue. Integer mi mi, vulputate vestibulum iaculis id, fringilla ac leo. Fusce id dui elementum, cursus diam in, vulputate magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam urna enim, convallis vitae dui id, sodales tempor risus. Etiam venenatis sem sit amet elit porttitor, vel dictum neque fringilla. Etiam ac tristique enim. Nulla molestie, diam a faucibus condimentum, risus lacus ultrices quam, id adipiscing enim orci sit amet sapien. Nam molestie in quam et suscipit. Morbi laoreet metus orci, id adipiscing leo aliquet iaculis. Nullam mi augue, faucibus nec aliquam et, aliquet nec ipsum. Aenean elementum porttitor urna et varius.</p>
          <p>Ut nec porta metus, vel semper nisi. Ut viverra pharetra consectetur. Curabitur dapibus metus eget erat porta laoreet. Sed ipsum nisl, egestas ac lorem id, molestie imperdiet lectus. Ut ut aliquet urna. Vestibulum volutpat ipsum dui, vel ultrices diam hendrerit non. Proin lobortis mi eget leo bibendum, condimentum tempor diam aliquam. Morbi in odio convallis, iaculis metus laoreet, euismod ante.</p>
          <p>Nulla augue purus, fringilla non mattis a, porta vitae ipsum. Sed molestie vestibulum purus, eu consectetur sem tincidunt non. Vestibulum non tellus et erat fermentum aliquam non in quam. Maecenas convallis tortor vitae felis facilisis, nec tristique leo eleifend. Nam sit amet metus ut arcu dapibus porttitor ac sit amet nunc. Mauris nunc nibh, iaculis at interdum non, imperdiet id mauris. Etiam eu sodales sem, vel scelerisque nunc.</p>
        </section>
    </div>
  </section>
</header>
  <div class="row">
  <main>
    <div class="group">
      <section class="piece">
        <img class="shot" src="/img/uncle-sam.png" />
        <h3>FCC Chairman's Ambassador Program</h3>
        <p>The FCC Chairman, Managing Director, and Chief Information Officer have identified a series of seven bold and agressive tracks designed to modernize the FCC's IT enterprise; bringing the agency into the 21st century.</p>
        <h4>I used:</h4>
        <div class="skills">HTML, CSS, Jekyll</div>
      </section>
      <section class="piece">
        <h3>Why I Like Static HTML</h3>
        <p>On December 11, 2013, the Federal Communications Commission announced a voluntary commitment among a number of mobile wireless service providers on standards for policies on unlocking mobile wireless devices.</p>
        <h4>I used:</h4>
        <div class="skills">HTML, CSS, Jekyll</div>
      </section>
      <section class="piece">
        <img class="shot" src="/img/e-rate.jpg" />
        <h3>Modernizing E-Rate 101</h3>
        <p>Digital learning today means enabling all students to use tablets or laptops from their classroom desks and connecting Americans in library workspaces. It’s time to update E-rate to meet today’s needs.</p>
        <h4>I used:</h4>
        <div class="skills">HTML, CSS, Jekyll</div>
      </section>
    </div>
    <div class="group">
      <section class="piece">
        <img class="shot" src="/img/device-unlocking.jpg" />
        <h3>Device Unlocking</h3>
        <p>On December 11, 2013, the Federal Communications Commission announced a voluntary commitment among a number of mobile wireless service providers on standards for policies on unlocking mobile wireless devices.</p>
        <a href="#asdasdff">Visit</a>
        <h4>I used:</h4>
        <div class="skills">HTML, CSS, JS, jQuery, Jekyll</div>
      </section>      
      <section class="piece">
        <img class="shot" src="/img/cost-model-map.jpg" />
        <h3>Connect America Phase II – Initial Eligible Areas Map</h3>
        <p>This map identifies the areas that have been initially determined to be eligible for ongoing Phase II Connect America support, which are shown in dark green on the map.</p>
        <h4>I used:</h4>
        <div class="skills">HTML, CSS, JS, jQuery, MapBox.js, Jekyll</div>
      </section>
    </div>
    <div class="group">
      <section class="piece">
        <img class="shot" src="/img/competition-report.jpg" />
        <h3>16<sup>th</sup> Annual Mobile Wireless Competition Report</h3>
        <p>The Federal Communications Commission (Commission) is required to report annually to Congress on the state of competition in the mobile services marketplace, pursuant to section 332(c)(1)(C) of the Communications Act.</p>
        <h4>I used:</h4>
        <div class="skills">HTML, CSS, JS, jQuery, HighCharts.js, Jekyll</div>
      </section>
      <section class="piece">
        <img class="shot" src="/img/am-map.jpg" />
        <h3>AM Tower Locator</h3>
        <p>Enter the latitude and longitude (in NAD 83), in decimal degrees, and height, in meters, of your tower to determine if you need to notify any AM Stations prior to building.</p>
        <h4>I used:</h4>
        <div class="skills">HTML, CSS, JS, jQuery, MapBox.js, Mustache.js, Jekyll</div>
      </section>      
    </div>
    <div class="group">
      <section class="piece">
        <img class="shot" src="/img/signal-boosters.jpg" />
        <h3>Signal Boosters</h3>
        <p>The public can use this tool to discover Part 90 Class B signal boosters that exist in their region. Licensees can use this tool to determine if a registered Part 90 Class B signal booster is causing interference to their other signals.</p>
        <h4>I used:</h4>
        <div class="skills">HTML, CSS, JS, jQuery, Google Maps, PHP</div>
      </section>
    </div>
  </main>
</div>
</section>

{% include footer.html %}