{% include header.html %}
  <article class="pieces group" style="background: #fff;">
    <div class="piecex group" style="width: 100%; max-width: 1200px; margin: 0 auto;">
      <div style="width: 75%; float: left; padding-right: 100px;">
        <section class="">
          <h3 style="font-family: Merriweather; font-weight: 700; font-style: italic">{{ page.title }}</h3>
          {% if page.subtitle %}<h4 style="font-family: Merriweather; font-style: italic">{{ page.subtitle }}</h4>{% endif %}
          <p class="url"> 
          {% if page.link %}
          <a href="{{ page.link }}" title="{{ page.title }}">{{ page.link }}</a>
          {% else %}
          <s>In progress</s>
          {% endif %}
          {% if page.skills %}
          <p class="url">Skills used: {% for skill in page.skills %}<strong>{{ skill }}</strong>{% if forloop.last != true %}, {% endif %}{% endfor %}</p>
          {% endif %}
          </p>
          <hr>
        </section>
        <section class="about">
          <img src="/img/work/{{ page.img }}" />
          {{ content }}
        </section>
      </div>
      <div style="width: 25%; float: left;">
        <h6 style="font-size: 11px; margin-top: 0; letter-spacing: 1px; text-transform: uppercase; font-weight: 800; font-family: 'Open Sans';">Work</h6>
        {% assign sorted = site.pages | sort: 'order' | reverse %}
        {% for work in sorted %}
          {% if work.category == 'work' %}
            <a href="{{ work.url }}" style="color: #111; {% if page.url == work.url %}color: #ccc;{% endif %}"><h3 style="font-family: Merriweather; font-size: 14px; font-weight: 400; margin: 0 0 20px;">{{ work.title }}</h3></a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </article>
{% include footer.html %}