{% include header.html %}
<section class="container cf">
  <section class="work">
    <figure>
      <div class="figure" id="chart"></div>
      <hgroup>
        <h3>Every year the FCC releases a 300+ page PDF.</h3>
        <h4>Competition Report</h4>
        <hr>
      </hgroup>
      <figcaption>
        <p>Fusce quis adipiscing lacus. Sed at justo sit amet mi porta vehicula et ac felis. Nulla euismod convallis purus in vulputate. Curabitur <a href="http://cnn.com">ornare</a>, felis at faucibus cursus, nisi justo blandit est, id malesuada nulla <a href="#asl;dkfjoi8lsfdkj">lorem non eros</a>. Nunc volutpat viverra leo, id lacinia turpis viverra in. Praesent euismod velit quis lorem suscipit, ac auctor massa laoreet. Proin ut sapien lectus. Vivamus bibendum sit amet magna a sagittis. Etiam ac nulla nunc. Mauris auctor, elit nec vestibulum molestie, dolor te.</p>
      </figcaption>
      <div class="link">
        <a class="btn" href="#report2">View the Report</a>
      </div>
    </figure>
  </section>

  <section class="work">
    <figure>
      <div class="figure" id="am-tower"></div>
      <hgroup>
        <h3>Will a cell tower interfere with AM stations?</h3>
        <h4>AM Tower Locator</h4>
        <hr>
      </hgroup>
      <figcaption>
        <p>Fusce quis adipiscing lacus. Sed at justo sit amet mi porta vehicula et ac felis. Nulla euismod convallis purus in vulputate. Curabitur ornare, felis at faucibus cursus, nisi justo blandit est, id malesuada nulla lorem non eros. Nunc volutpat viverra leo, id lacinia turpis viverra in. Praesent euismod velit quis lorem suscipit, ac auctor massa laoreet. Proin ut sapien lectus. Vivamus bibendum sit amet magna a sagittis. Etiam ac nulla nunc. Mauris auctor, elit nec vestibulum molestie, dolor te.</p>
        <p><small><strong>A little help</strong>: Use 40.8090 for the latitude, -74.1065 for the longitude, and 40 for the height.</small></p>
      </figcaption>
      <div class="link">
        <a class="btn" href="#tool">Try the tool</a>
      </div>
    </figure>    
  </section>

  <section class="work">
    <figure>
      <div class="figure img"><img src="img/learn.png" /></div>
      <hgroup>
        <h3>The FCC's new incentive auctions process.</h3>
        <h4>LEARN</h4>
        <hr>
      </hgroup>
      <figcaption>
        <p>Fusce quis adipiscing lacus. Sed at justo sit amet mi porta vehicula et ac felis. Nulla euismod convallis purus in vulputate. Curabitur ornare, felis at faucibus cursus, nisi justo blandit est, id malesuada nulla lorem non eros. Nunc volutpat viverra leo, id lacinia turpis viverra in. Praesent euismod velit quis lorem suscipit, ac auctor massa laoreet.</p>
      </figcaption>
      <div class="link">
        <a class="btn" href="#learn">Go LEARN about the Auction</a>
      </div>
    </figure>
  </section>
</section>

<hr> 
{% include footer.html %}