{% include header.html %}

<section class="work group">
  <h3>Work</h3>
  <section class="pieces">
    {% for work in site.data.work %}
    {% assign half = forloop.length | divided_by:2 %}
    {% if forloop.index0 == half %}
  </section>
  <section class="pieces">
    {% endif %}
    <article class="piece group">
      <img src="img/work/{{ work.img }}" />
      <section class="about">
        <a href="#adsf" title="{{ work.title }}"><h5>{{ work.title }}</h5></a>
        <p>{{ work.desc }}</p>
      </section>
    </article>
    {% endfor %}
  </section>
</section>

{% include footer.html %}