{% include header.html %}

<section class="work group">
  <h2>{{ page.title }}</h2>
  <section class="pieces">
    {% for work in site.data.work %}
    <article class="piece group">
      <img src="/img/work/{{ work.img }}" />
      <section class="about">
        <h3>{{ work.title }}</h3>
        {% if work.subtitle %}<h4>{{ work.subtitle }}</h4>{% endif %}
        <hr>
        <p>{{ work.desc }}</p>
        <p class="url"> 
        {% if work.url %}
        <img src="/img/link-intact.svg" alt="{{ work.title }}"> <a href="{{ work.url }}" title="{{ work.title }}">{{ work.title }}</a>
        {% else %}
        <s>In progress</s>
        {% endif %}
        </p>
      </section>
    </article>
    {% endfor %}
  </section>
</section>

{% include footer.html %}